<div class="container">
    <form action="/categories/edit/{{category._id}}" method="post">

        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{category.name}}">
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input type="text" class="form-control" id="country" name="country" value="{{category.country}}">
        </div>

        <div class="mb-3">
            <label for="year" class="form-label">Year</label>
            <input type="text" class="form-control" id="year" name="year" value="{{category.year}}">
        </div>

        <input type="submit" class="btn btn-primary" value="Edit">
    </form>

</div>